<div class='container-fluid'>
	<div class='row'>
		<div class='pending-homepage employee-blocks'>
			<h3>Pendint Audit Confirmations</h3>
			<%= render 'pending_audits', {pending_audit_confirmations: @pending_audit_confirmations} %>
		</div>
		<div class='col-md-5 column pending-homepage employee-blocks'>
			qwery
		</div>
	</div>
</div>